<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT">
            <PatternLayout pattern="%5p [%t] (%F:%L) - %m%n"/>
        </Console>
        <RollingFile name="R" fileName="src/test/resources/log4j-reports/testlog.log" filePattern="src/test/resources/log4j-reports/testlog-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%d - %c - %p - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>

            </Policies>
            <DefaultRolloverStrategy max="10"/>
        </RollingFile>
        <File name="HTML" fileName="src/test/resources/log4j-reports/Booking_Test_Logs.html">
            <HTMLLayout title="Application log" locationInfo="true"/>
        </File>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="R"/>
            <AppenderRef ref="TTCC"/>
            <AppenderRef ref="HTML"/>
        </Root>
    </Loggers>
</Configuration>