<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite">
    <listeners>
        <listener class-name="com.sahel.booking.utilities.ExtentTestNGListeners"/>
    </listeners>

    <test name="Login-Test">
     <!--   <parameter name="email" value=""/> -->
     <!--   <parameter name="password" value=""/> -->
        <classes>
          <!---  <class name="BookingLoginTest"/> -->

        </classes>
        <!-- Add more test classes as needed -->

    </test>

    <!-- ... Define more <test> blocks and configurations ... -->

</suite>
