<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Smoke Suite"  >
    <listeners>
        <listener class-name="com.sahel.booking.utilities.ExtentTestNGListeners"/>
    </listeners>

    <test name="Smoke Test">

        <classes>
         <class name="smoke.suite.HomePageSmokeTest"/>
        </classes>
    </test>


</suite>
